AzureAppLogicTest/Root/Root/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "filesystem_1_Connection_Name": {
      "type": "string",
      "defaultValue": "filesystem"
    },
    "filesystem_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "MyFilesystem"
    },
    "outlook_1_Connection_Name": {
      "type": "string",
      "defaultValue": "outlook"
    },
    "outlook_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "jaime.gibertoni@hotmail.com"
    },
    "sql_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sql-5"
    },
    "sql_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "MyDatabase"
    },
    "sql_1_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      },
      "defaultValue": "notts-server.database.windows.net"
    },
    "sql_1_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      },
      "defaultValue": "MyDatabase"
    },
    "sql_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Get_rows": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-northeurope.azure-apim.net/apim/sql"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['sql']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[MyTable]'))}/items"
              },
              "runAfter": {}
            },
            "For_each_2": {
              "type": "Foreach",
              "foreach": "@body('Get_rows')?['value']",
              "actions": {
                "Update_file": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-northeurope.azure-apim.net/apim/filesystem"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['filesystem']['connectionId']"
                      }
                    },
                    "method": "put",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Create_file')?['FileLocator']))}",
                    "body": "@{item()?['Id']}@{item()?['StringField']}@{body('Create_file')?['LastModified']}"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              }
            },
            "Send_email_with_options": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-northeurope.azure-apim.net/apim/outlook"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['outlook']['connectionId']"
                  }
                },
                "path": "/mailwithoptions/$subscriptions",
                "body": {
                  "NotificationUrl": "@listCallbackUrl()",
                  "Message": {
                    "To": "jaime.gibertoni@hotmail.com",
                    "Subject": "Text Output",
                    "Options": "Choice1, Choice2, Choice3",
                    "Importance": "Normal",
                    "Attachments": [
                      {
                        "Name": "Output.TxT",
                        "ContentBytes": "@{base64('Output.TxT')}"
                      }
                    ]
                  }
                }
              },
              "runAfter": {
                "For_each_2": [
                  "Succeeded"
                ]
              }
            },
            "Create_file": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-northeurope.azure-apim.net/apim/filesystem"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['filesystem']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/files",
                "queries": {
                  "folderPath": "/",
                  "name": "Outout.TxT"
                },
                "body": "@{item()?['Id']}@{item()?['StringField']}"
              },
              "runAfter": {
                "Get_rows": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
                "connectionName": "[parameters('sql_1_Connection_Name')]"
              },
              "filesystem": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'filesystem')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('filesystem_1_Connection_Name'))]",
                "connectionName": "[parameters('filesystem_1_Connection_Name')]"
              },
              "outlook": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'outlook')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('outlook_1_Connection_Name'))]",
                "connectionName": "[parameters('outlook_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('filesystem_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('outlook_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('filesystem_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'filesystem')]"
        },
        "displayName": "[parameters('filesystem_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('outlook_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'outlook')]"
        },
        "displayName": "[parameters('outlook_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sql_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_1_server')]",
          "database": "[parameters('sql_1_database')]",
          "username": "[parameters('sql_1_username')]",
          "password": "[parameters('sql_1_password')]"
        }
      }
    }
  ],
  "outputs": {}
}